<%- include('partials/header') -%>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-center" href="#">Client Management Sutygon Ltd.</a>
  </nav>
  <div class='container'>
    <form action='/' method='POST'>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Supervisor</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Calum Nguyen" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <div id="form">
            <input name='n1' type="password" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required autofocus />
            <input name='n2' type="password" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
            <input name='n3' type="password" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
            <input name='n4' type="password" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
          </div>
          <button class="btn btn-success btn-embossed verify-button" type='submit'>Start Service</button>
        </div>



      </div>

    </form>
  </div>
</body>

<%- include('partials/footer') -%>
<script type="text/javascript" src='/js/main.js'></script>
</html>
